{% extends 'main/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">{{ controller }}</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="{{ controller }}" class="btn btn-info">
            </form>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Category Title</th>
            <th>Delete</th>
        </tr>
        {% for c in categories %}
            <tr>
                <td>{{c.title}}</td>
                <td><a href="{% url 'main:delete_category' c.id %}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}