

  body{
    background-color: hsl(0, 0%, 98%);
  }
  .checked {
    color: red;
  }
  .my-btn {
    background-color: inherit !important;
    border: 0 !important;
}


  

  .box-element{
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
  }
  
  .thumbnail{
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
      -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
      box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
  }
  

  
  .bg-dark{
    background-color: #4f868c!important;
  }
  
  #cart-icon{
    width:25px;
    display: inline-block;
    margin-left: 15px;
  }
  
  #cart-total{
    display: block;
    text-align: center;
    color:#fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
  }
  
  .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
    margin-top: 10px;
  }
  
  .btn{
    border-radius: 0;
  }
  
  .row-image{
    width: 100px;
  }
  
  .form-field{
    width:250px;
    display: inline-block;
    padding: 5px;
  }
  
  .cart-row{
    display: flex;
      align-items: flex-stretch;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ececec;
  
  }
  
  .quantity{
    display: inline-block;
    font-weight: 700;
    padding-right:10px;
    
  
  }
  
  .chg-quantity{
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition:.1s;
  }
  
  .chg-quantity:hover{
    opacity: .6;
  }
  
  
  .hidden{
    display: none!important;
  }


  .stars-outer {
    position: relative;
    display: inline-block;
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }

  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }